* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  /* background-image: url(../img/light.jpg); */
  background: linear-gradient(
    rgb(180, 133, 255),
    rgb(132, 186, 248),
    rgb(159, 244, 255)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s ease-in;
  background-origin: border-box;
}
.dark {
  /* background-image: url(../img/dark.jpg); */
  background: linear-gradient(
    rgb(75, 47, 121),
    rgb(41, 76, 117),
    rgb(67, 173, 187)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* head */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 100vh;

  /* background-image: url(../img/wp6350573.jpg); */
  background-size: cover;
  background-position: center;

  position: relative;
}
.header-title {
  font-weight: 700;
  font-family: "Pacifico", cursive;
  text-shadow: 5px 5px 5px rgba(255, 0, 234, 0.575);

  line-height: 130%;
  color: white;
}
.header-subtitle {
  font-weight: 400;
  font-size: 16px;
  font-family: "Alumni Sans", sans-serif;

  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  color: white;
}
.header-arrow {
  width: 48px;
  height: 48px;
  background-image: url(./logo/chevron-down.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5%;
}
.none {
  display: none;
}
/* nav */
nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(42, 212, 255);
  margin: auto;
}
label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: "Sofia Sans Semi Condensed";
  font-size: 12px;
  text-transform: uppercase;
  border-left: 1px solid black;
  padding-left: 30px;
}
#checkbox {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  appearance: none;
}
#checkbox_fake {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  vertical-align: middle;
  position: relative;
  background-color: white;
  vertical-align: bottom;
}
#checkbox_fake::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(0, 119, 255);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 78%;
  transition: 0.3s ease-in;
}
#checkbox:checked + #checkbox_fake::before {
  left: 23%;
  background-color: rgb(255, 255, 255);
}
#checkbox:checked + #checkbox_fake {
  background-color: rgb(90, 90, 90);
  border-color: white;
}

#checkbox_title {
  transition: 0.3s ease-in;
}
#checkbox:checked ~ #checkbox_title {
  color: white;
}
.portflio-header {
  display: block;
  margin-inline: auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
/* body */
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}
.card-link {
  text-decoration: none;
}
.card {
  margin-top: 30px;
  max-width: 100%;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    to left,
    rgb(92, 44, 140),
    rgb(150, 168, 255),
    rgb(233, 192, 253)
  );
  background-size: 200%;
  transition: 0.3s ease-in;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.571);
}
.card:hover {
  background-position: right;
  transform: translateY(-3%);
}
.card-img {
  overflow: hidden;
}
.card-img img {
  border: 1px solid rgb(63, 127, 247);
  width: 100%;
  transition: 0.3s ease-in;
}
.card:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.card-title h2 {
  color: black;
  letter-spacing: 0.2em;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.382);
  transition: 0.3s ease-in;
}
.card:hover h2 {
  color: rgb(250, 255, 208);
  text-shadow: 2px 2px 5px rgb(65, 1, 255);
}

.card-body p {
  color: rgb(112, 68, 68);
  letter-spacing: 0.2em;
  transition: 0.3s ease-in;
}
.card:hover p {
  color: rgb(254, 189, 115);
}
/* соц сети */
.links-main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.114);
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 10px 0 30px;
}
.links {
  display: flex;
  flex-direction: column;
  max-width: 730px;
  flex-grow: 1;
  justify-content: space-between;
}
.links > p {
  font-size: 35px;
  color: rgba(235, 235, 235, 0.324);
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  text-align: center;
}
.links-imges {
  display: flex;
  justify-content: space-between;
}
.links-imges img {
  width: 90px;
  text-shadow: 5px 5px 20px black;
}
.links-imges a {
  padding-inline: 12px;
  transition: 0.3s ease-in;
}
.links-imges a:hover {
  transform: skew(-5deg) scale(1.2);
  opacity: 0.4;
}
/* нижний блок */
.footer-main {
  background-color: rgb(0, 117, 189);
}
.footer {
  max-width: 1110px;
  justify-content: space-between;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-family: "Alumni Sans", sans-serif;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
.footer-name,
.footer-contact {
  max-width: 350px;
  flex-grow: 1;
}
.footer-name h4 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 25px;
}
.footer-name h4 > span {
  font-size: 22px;
}
.footer-name p {
  font-size: 15px;
}

.footer-contact {
  margin-top: 20px;
  text-align: center;
}
.footer-contact h4 {
  display: inline-block;
  font-size: 18px;
  color: rgb(207, 203, 203);
  padding: 8px;
  border: 4px solid rgb(207, 203, 203);
  border-radius: 25px;
  margin-bottom: 0;
  transition: 0.2s ease-in;
}
.footer-contact h4:hover {
  background-color: rgb(207, 203, 203);
  color: black;
}
.footer-contact p {
  font-size: 15px;
}
@media (max-width: 1060px) {
  .card {
    max-width: 480px;
  }
  .links {
    max-width: 450px;
  }
  .links-imges img {
    width: 80px;
  }
  .footer-name,
  .footer-contact {
    margin-inline: 20px;
  }
}
@media (max-width: 1000px) {
  .card {
    width: 450px;
  }
}
@media (max-width: 940px) {
  .card {
    width: 420px;
  }
}
@media (max-width: 870px) {
  .card {
    max-width: 390px;
  }
  .card-title h2 {
    font-size: 20px;
  }
  .links {
    width: 250px;
  }
  .links-imges img {
    width: 60px;
  }
}
@media (max-width: 800px) {
  .card {
    max-width: 360px;
  }
  .card-body p {
    font-size: 12px;
  }
  .links-main {
    padding: 5px 0 20px;
  }
}

@media (max-width: 750px) {
  .card {
    max-width: 320px;
  }
  .card-title h2 {
    font-size: 16px;
  }
  .links-main {
    margin: 30px auto 10px;
  }
}

@media (max-width: 650px) {
  .card {
    max-width: 280px;
  }
  .card-title h2 {
    font-size: 14px;
  }
  .card-body p {
    font-size: 10px;
  }
  .links-main {
    padding: 0 0 20px;
    margin: 30px auto 10px;
  }
  .links {
    max-width: 350px;
  }
  .links-imges img {
    width: 40px;
  }
  .links p {
    font-size: 30px;
    margin: 20px auto 20px;
  }
  .footer-main {
    text-align: center;
  }
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    height: 200px;
    align-items: center;
  }
  .footer-contact,
  .footer-name {
    margin: 0;
    padding: 0;
  }
  .footer-name h4,
  p {
    margin: 0;
    padding: 0;
  }
  .footer-contact p {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-contact h4 {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .card {
    width: 400px;
  }
  .links-imges img {
    width: 50px;
  }
  .links p {
    font-size: 25px;
    margin: 10px auto 20px;
  }
}
