* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid rgb(21, 255, 0);
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(169, 185, 185);
}
